/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/06/2016, 22:57:38
    Author     : Magdiel
*/

.imagemLogo img{
    width: 30px; 
    height: 30px;
    margin: 10px 2px 10px 2px
}

.imagemIcone img{
    width: 40px; 
    height: 40px;
    margin: 10px 2px 10px 2px
}

.textBranco{
    font: 16px/24px Roboto,sans-serif;
    color: white;
    font-weight: bold
}

.devsite-doc-set-nav-active{
    border-bottom: 4px solid #fff !important;
    color: #fff;
}

.devsite-doc-set-nav-tab{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    padding: 0 24px;
    text-transform: uppercase;
    transition: color .2s;
}
