<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-md-12 textBranco" style="background: blueviolet;">
    <div id="linha1" class="col-md-12">
        <div id="logo" class="col-md-4 imagemLogo">
            <img src="img/wiki.png" title="Wikimapia"/>
        </div>
    </div>
    <div id="linha2" class="col-md-12">
        <div id="descricao" class="col-md-6">
            O GeoRef é um sistema de Georreferenciamento de arquivos baseado em tecnologias abertas,
            o mesmo tem como principal objetivo a construção de cátologos de serviços geográficos seguindo o padrão
            OGC.
        </div>
    </div>
    <div id="linha3" class="col-md-12">
        <div class="col-md-4 imagemIcone">
            <a href="http://wikimapia.org/"><img src="img/wiki.png" title="Wikimapia"/></a>
            <a href="https://developers.google.com/places"><img src="img/google-dev.png" title="Google Places"/></a>
            <a href="http://geoserver.org/"><img src="img/geoserver.png" title="GeoServer"/></a>
            <a href="http://geonetwork-opensource.org/"><img src="img/geonet.png" title="GeoNetwork"/></a>
        </div>
    </div>
</div>
